.gitignore
*~
.idea
.DS_Store
tmp
*.o
parport.out
bochsout.txt
deps
*.aux
*.out
*.bbl
*.blg
*.log
*.synctex.gz
*.toc
tp1.pdf
TPPSO/
.gitignore
.cproject
.project
entregable.zip
tp1/doc/informe/informe.tex.backup
entregable.zip
tp1/src/bin/*
tp1/src/kernel/sched.c
tp1/src/include/sched.h
snapshot.txt
*.elf
*.pso
*.pdf
PSO.geany
